
<html>
<head>
<meta http-equiv='refresh' content='5' />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(18.574535, 73.770812);
		var myOptions = {
			zoom: 18,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

var PolylineCoordinates = [
new google.maps.LatLng(18.574078, 73.770773),
new google.maps.LatLng(18.574535, 73.770812),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#6495ED",
strokeOpacity: 1.000000,
strokeWeight: 10
});

Path.setMap(map);


var coords = [
new google.maps.LatLng(18.574123, 73.770773),
new google.maps.LatLng(18.574123, 73.770765),
new google.maps.LatLng(18.574121, 73.770757),
new google.maps.LatLng(18.574117, 73.770750),
new google.maps.LatLng(18.574113, 73.770743),
new google.maps.LatLng(18.574107, 73.770737),
new google.maps.LatLng(18.574101, 73.770732),
new google.maps.LatLng(18.574094, 73.770729),
new google.maps.LatLng(18.574086, 73.770727),
new google.maps.LatLng(18.574078, 73.770726),
new google.maps.LatLng(18.574071, 73.770727),
new google.maps.LatLng(18.574063, 73.770729),
new google.maps.LatLng(18.574056, 73.770732),
new google.maps.LatLng(18.574049, 73.770737),
new google.maps.LatLng(18.574044, 73.770743),
new google.maps.LatLng(18.574039, 73.770750),
new google.maps.LatLng(18.574036, 73.770757),
new google.maps.LatLng(18.574034, 73.770765),
new google.maps.LatLng(18.574033, 73.770773),
new google.maps.LatLng(18.574034, 73.770782),
new google.maps.LatLng(18.574036, 73.770790),
new google.maps.LatLng(18.574039, 73.770797),
new google.maps.LatLng(18.574044, 73.770804),
new google.maps.LatLng(18.574049, 73.770810),
new google.maps.LatLng(18.574056, 73.770814),
new google.maps.LatLng(18.574063, 73.770818),
new google.maps.LatLng(18.574071, 73.770820),
new google.maps.LatLng(18.574078, 73.770821),
new google.maps.LatLng(18.574086, 73.770820),
new google.maps.LatLng(18.574094, 73.770818),
new google.maps.LatLng(18.574101, 73.770814),
new google.maps.LatLng(18.574107, 73.770810),
new google.maps.LatLng(18.574113, 73.770804),
new google.maps.LatLng(18.574117, 73.770797),
new google.maps.LatLng(18.574121, 73.770790),
new google.maps.LatLng(18.574123, 73.770782),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#myMarker1",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#myMarker1",
strokeOpacity: 1.000000,
strokeWeight: 1
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(18.574580, 73.770812),
new google.maps.LatLng(18.574579, 73.770803),
new google.maps.LatLng(18.574577, 73.770795),
new google.maps.LatLng(18.574574, 73.770788),
new google.maps.LatLng(18.574569, 73.770781),
new google.maps.LatLng(18.574564, 73.770775),
new google.maps.LatLng(18.574557, 73.770771),
new google.maps.LatLng(18.574550, 73.770767),
new google.maps.LatLng(18.574543, 73.770765),
new google.maps.LatLng(18.574535, 73.770764),
new google.maps.LatLng(18.574527, 73.770765),
new google.maps.LatLng(18.574520, 73.770767),
new google.maps.LatLng(18.574513, 73.770771),
new google.maps.LatLng(18.574506, 73.770775),
new google.maps.LatLng(18.574501, 73.770781),
new google.maps.LatLng(18.574496, 73.770788),
new google.maps.LatLng(18.574493, 73.770795),
new google.maps.LatLng(18.574491, 73.770803),
new google.maps.LatLng(18.574490, 73.770812),
new google.maps.LatLng(18.574491, 73.770820),
new google.maps.LatLng(18.574493, 73.770828),
new google.maps.LatLng(18.574496, 73.770835),
new google.maps.LatLng(18.574501, 73.770842),
new google.maps.LatLng(18.574506, 73.770848),
new google.maps.LatLng(18.574513, 73.770853),
new google.maps.LatLng(18.574520, 73.770856),
new google.maps.LatLng(18.574527, 73.770858),
new google.maps.LatLng(18.574535, 73.770859),
new google.maps.LatLng(18.574543, 73.770858),
new google.maps.LatLng(18.574550, 73.770856),
new google.maps.LatLng(18.574557, 73.770853),
new google.maps.LatLng(18.574564, 73.770848),
new google.maps.LatLng(18.574569, 73.770842),
new google.maps.LatLng(18.574574, 73.770835),
new google.maps.LatLng(18.574577, 73.770828),
new google.maps.LatLng(18.574579, 73.770820),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "#myMarker1",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "#myMarker1",
strokeOpacity: 1.000000,
strokeWeight: 1
});

polygon.setMap(map);


	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
